
body {
  width: 900px;
}

button {
  width: 100px;
  margin-top: 10px;
}

label {
  margin: 3px;
}

.todo-list {
  width: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-login-info {
  display: flex;
  flex-direction: column;
}